div.homePageSlider_main_container {
    background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url("../../../Resources/Image\ &\ Icon/slider-image.jpg");
    background-size: cover;
}
nav.navbar_main_aria {
    background: transparent !important;
    padding: 40px 0px;
}
a.nav-link {
    color: white !important;
}
a.navbar_active_class {
    color: #fcd842 !important;
}


div.homePage_slider_titleAria_container {
    padding: 80px 0px;
}
h1.homePage_slider_title {
    color: white;
    font-size: 5rem;
}
div.homePage_slider_titleAria p {
    color: lightgray;
    font-weight: 200;
    margin-bottom: 50px;
}
video.homePage_slider_video {
    width: 100%;
    background: transparent;
}
.react-player__shadow {
    background: var(--yellow) !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
}
.react-player__play-icon {
    color: black !important;
    border-color: transparent transparent transparent black !important;
}
@media(max-width: 768px) {
    div.homePage_slider_titleAria {
        margin-bottom: 80px;
    }
}
@media(max-width: 425px) {
    div.homePage_slider_titleAria {
        margin-bottom: 20px;
    }
}
li.nav-item {
    margin: 0px 10px;
}
a.nav-link {
    font-weight: 500 !important;
}